fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.0
python-multipart==0.0.20
requests==2.32.3
Pillow==11.1.0
numpy==2.2.1
rapidfuzz==3.11.0
SQLAlchemy==2.0.36
google-generativeai==0.8.3
pandas==2.2.3
openpyxl==3.1.5
gradio-client
json-repair
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-json-logger
tenacity
email-validator
psycopg2-binary
fpdf2
